
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Manrope:wght@200..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));
html {
  scroll-behavior: smooth;
}
body{
  font-family: "Poppins";
  padding-top: 80px;
}
section {
  scroll-margin-top: 100px;
}
h2{
  font-size: 30px; font-weight: bold;
}
h2::after{
  border-bottom: 3px darkblue;
}

dark{
  background: #000;
}
light{
  background: white;
}
@theme {
  --color-primary: #6D5DFC;
  --color-primary-dark: #4F46E5;
  --color-primary-light: #EDE9FE;

  --color-dark: #111827;
  --color-dark-blue: #0F172A;

  --color-gray-text: #6B7280;
  --color-border: #E5E7EB;

  --color-section-bg: #F8FAFC;
}